<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
   <Appenders>
      <Console name="Console" target="SYSTEM_OUT">
         <PatternLayout pattern="%5p [%t] - %m%n" />
      </Console>
      <File name="file" fileName="./logs/mybatis_study.log" append="false">
         <PatternLayout pattern="%5p [%t] - %m%n" />
      </File>
   </Appenders>

   <Loggers>
      <Logger name="kr.or.dgit.mybatis_study" level="trace" additivity="false">
         <AppenderRef ref="Console" />
         <!-- <AppenderRef ref="file" /> -->
      </Logger>
 
      <Root level="debug">
         <AppenderRef ref="Console" />
         <AppenderRef ref="file" />
      </Root>      
   </Loggers>
</Configuration>
